{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var data_url = "{{=URL('default', 'get_data')}}";
    var user_votes_url = "{{=URL('default', 'update_votes')}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div class="voting_area">
            <div v-for="item in state_elections" class = "voting_box">
                <div class="text vote_title">
                    ${item.office}
                </div>
                <div class ="vote_selection">
                    <div v-for="person in item.candidates" class="vote_option">
                        <input type="radio" :name="item.office" :value="person"> ${person}
                    </div>
                </div>
            </div>
            <div v-for="item in local_elections" class = "voting_box">
                <div class="text vote_title">
                    ${item.office}
                </div>
                <div class ="vote_selection">
                    <div v-for="person in item.candidates" class="vote_option">
                        <input type="radio" :name="item.office" :value="person"> ${person}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
