{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var data_url = "{{=URL('default', 'get_data')}}";
    var user_votes_url = "{{=URL('default', 'update_votes')}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div class="voting_area">
            <div v-for="item in federal" class = "voting_box">
                <div class="text vote_title">

                </div>
                <div class="text vote_info">

                </div>
                <div class ="vote_selection">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<div class="voting_area">
    <div class="voting_box">
        <div class="text vote_title">
            President Asshole
        </div>
        <div class="text vote_info">
            MAGAMAGAMAGAMAGAMAGAMAGA
        </div>
        <div class="vote_selection">
            <input type="radio" name="vote1" value="Yes"> YES<br>
            <input type="radio" name="vote1" value="No"> no, im a cuck<br>
        </div>
    </div>
</div>
