{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var data_url = "{{=URL('default', 'get_data')}}";
    var user_votes_url = "{{=URL('default', 'update_votes')}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div class="top_area">
            <img src="/FinalProject/static/images/Flag_of_the_United_States.svg.png" alt="USA Flag" align="left"/>
            <button v-if="current_user" class="btn btn-danger btn-sm" v-on:click="save_votes()">
                    Save choices!
            </button>
            <img src="/FinalProject/static/images/Flag_of_California.svg.png" alt="California Flag" align="right"/>
        </div>
        <div class="voting_area">
            <div v-for="item in state_elections" class="voting_box">
                <div class="text vote_title">
                    ${item.office}
                </div>
                <div class="vote_selection">
                    <div v-for="person in item.name_list" class="vote_option">
                        <input type="radio" :name="item.office" :value="person" :checked="(contains_vote(item.id, person)) ? person : ''" v-model="user_election_votes[item.id]"> ${person}
                    </div>
                </div>
            </div>
            <div v-for="item in local_elections" class="voting_box">
                <div class="text vote_title">
                    ${item.office}
                </div>
                <div v-if="item.vacancies > 1" class="text vote_info">
                    Please pick ${item.vacancies} for ${item.office}.
                </div>
                <div class="vote_selection">
                    <div v-for="person in item.name_list" class="vote_option">
                        <span v-if="item.vacancies == 1">
                            <input type="radio" :name="item.office" :value="person" :checked="(contains_vote(item.id, person)) ? person : ''" v-model="user_election_votes[item.id]"> ${person}
                        </span>
                        <span v-else>
                            <input type="checkbox" :name="item.office" :value="person" :checked="(contains_vote(item.id, person)) ? person : ''" @click="toggle_vote(item.id, person)"> ${person}
                        </span>
                    </div>
                </div>
            </div>
            <div v-for="item in state_props" class="voting_box">
                <div class="text vote_title">
                    ${item.letter}
                </div>
                <div class="text vote_info">
                    ${item.question}
                </div>
                <div class="vote_selection">
                    <input type="radio" :name="item.letter" value="yes" :checked="(user_prop_votes[item.id] == yes) ? yes : ''" v-model="user_prop_votes[item.id]"> Yes
                    <input type="radio" :name="item.letter" value="no" :checked="(user_prop_votes[item.id] == no) ? no : ''" v-model="user_prop_votes[item.id]"> No
                </div>
            </div>
            <div v-for="item in local_props" class="voting_box">
                <div class="text vote_title">
                    ${item.letter}
                </div>
                <div class="text vote_info">
                    ${item.question}
                </div>
                <div class="vote_selection">
                    <input type="radio" :name="item.letter" value="yes" :checked="(user_prop_votes[item.id] == yes) ? yes : ''" v-model="user_prop_votes[item.id]"> Yes
                    <input type="radio" :name="item.letter" value="no" :checked="(user_prop_votes[item.id] == no) ? no : ''" v-model="user_prop_votes[item.id]"> No
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
