.voting_area {
    text-align: center;
    width: 100%;
}

div.main_content {
    padding: 20px;
}

.voting_box{
    vertical-align:top;
    display: inline-block;
    width: 32%;
    height: 250px;
    border-color: darkred;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    margin: 5px;
}

.tall{
    height: 400px;
}

.vote_title{

}

.vote_info{
    text-align: left;
}

.vote_selection{
    text-align: left;
    display: inline-block;
}

.flag_images{
    height: 160px;
}

.flag_area{
    vertical-align:top;
    display: inline-block;
    width: 30%;
}

.top_area{
    vertical-align:top;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.top_buttons{
    display: inline-block;
    width: 40%;
}

.text{
    word-wrap: break-word;
    margin: 5px;
}

.navbar-fixed-top{
    background: mediumblue;
}

.footer{
    background: mediumblue;
}